<!DOCTYPE html>
<html>
  <head>
    <title>{{titH}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script src="./javascripts/mercado.js"></script>
  <script>
      const mp = new MercadoPago('TEST-520b84a0-9eef-46c2-9031-0cfcd9d3ec45');
  </script>
  
</html>
